
#design-system-docs {
	.content {
	  #logotype-text + .logo-wrap, 
	  #logotype-image + .logo-wrap,
	  #logotype-text-with-seax-image + .logo-wrap {
	    background-color: $brand;
	    padding: $baseline;
	  }
	  ol:first-child {
	  	display: inline-block;
	  	padding-left: 0;
	  	padding-right: 0;
	  	margin-left: 0;
	  	margin-right: 0;
	    margin-top: $baseline*0.5;
	    margin-bottom: $baseline*0.5;
		  li {
		    @include small;
		    list-style: none;
		    margin-right: 0.6em;
		    padding-left: 0.9em;
		    margin-bottom: 0;
		    float: left;
		    background-image: url($baseurl + '/assets/images/icon/separator.png');
		    @include device-pixel-ratio() {
		      background-image: url($baseurl + '/assets/icon/images/separator-2x.png');
		      background-size: 6px 11px;
		    }
		    background-position: 0% 50%;
		    background-repeat: no-repeat;
		    @include media (mobile) {
		      @include smaller;
		      margin-bottom: $baseline*0.5;
		    }
		    &:first-child {
		      background-image: none;
		      margin-left: 0;
		      padding-left: 0;
		    }
		    &:last-child {
		      a {
		        color: $black;
		        text-decoration: none;
		        pointer-events: none;
		        cursor: default;
		        &:hover {
		          cursor: default;
		        }
		      } 
		    }
		  }
		  a {
		    color: $text-colour;
		  }	
		}
	  // h1, h2, h3, h4 {
	  //   span {
	  //     @include default-type;
	  //     display: block;
	  //     margin: $baseline*0.25 0;
	  //   }
	  // }
	  .light {
	    font-weight: 300;
	  }
	  .regular {
	    font-weight: 400;
	  }
	  .semi-bold {
	    font-weight: 600;
	  }
	  .bold {
	    font-weight: 700;
	  }
	  pre {
	    position: relative;
	    white-space: pre;
	    margin: $baseline 0;
      display: inline-block;
      width: 100%;
	    code {
	      @include wrap;
	      @include box-sizing(border-box);
	      margin: 0 0 $baseline 0;
	      padding: $baseline;
	      border: $border-thin solid $grey-light;
	      background-color: $grey-lighter;
	      display: inline-block;
	      width: 100%;
	    }
	  }
	  .colour-swatch {
	      top: 0;
	      left: 0;
	      width: 40px;
	      height: 40px;
	      border: $border-thin solid transparent;
	      border-radius: 20%;
	  }
	  .colour-swatch-border {
	      border-color: $very-black;
	  }
	  .table {
	    thead tr {
	      font-weight: $semi;
	      border-bottom: $border-normal solid;
	    }
	  }
	  .demo-box {
	    background-color: $grey-lighter;
	    border: $border-thin solid $grey-light;
	    padding: $baseline;
	    margin-top: $baseline;
	  }
	  .cookies {
	    position: relative;
	  }
	  .grid-row {  
	    @extend %grid-row;
	  }
	  .column-full {
	    @include grid-column( 1 ); 
	  }
	  .column-quarter {
	    @include grid-column( 1/4 ); 
	  }
	  .column-half { 
	    @include grid-column( 1/2 ); 
	  }
	  .column-third {  
	    @include grid-column( 1/3 ); 
	  }
	  .column-two-thirds { 
	    @include grid-column( 2/3 ); 
	  }
	  .column-desktop-third {  
	    @include grid-column( 1/3, $full-width: desktop ); 
	  }
	}
  code {
    @include wrap;
    @include box-sizing(border-box);
	  font-family: monospace;
	  font-size: ms(0);
	  line-height: $baseline*0.75;
    margin: 0;
    padding: $baseline*0.125;
    border: $border-thin solid $grey-light;
    background-color: $grey-lighter;
    display: inline-block;
    width: auto;
  }
}