// this is a file created to collect where we will need to pull from gds support styles */
// some from gov-uk-templates

.hidden,
.js-enabled .js-hidden {
    display: none;
    visibility: hidden;
}
