<script type="text/javascript" src="https://customer.cludo.com/scripts/bundles/search-script.min.js"></script>
<script>
var CludoSearch;
(function () {
    var cludoSettings = {
        customerId: 2222,
        engineId: 11243,
        searchUrl: 'https://essex-service-design-toolkit.herokuapp.com/search-results',
        language: 'en',
        searchInputs: ['cludo-search-form'],
        template: 'InlineBasic',
        disableAutocomplete: true,
        hideSearchFilters: true,
        focusOnResultsAfterSearch: true,
        type: 'inline'
    };
    CludoSearch = new Cludo(cludoSettings);
    CludoSearch.init();
})();
</script>
<!--[if lte IE 9]>
    <script src="https://api.cludo.com/scripts/xdomain.js" slave="https://api.cludo.com/proxy.html" type="text/javascript"></script>
<![endif]-->