<footer class="footer-container">
	<div class="footer-top">
		<div class="footer">
	<div class="nav">
        <ul class="nav-links">
			<li><a href="#">About essex.gov.uk</a></li>
			<li><a href="#">Accessibility</a></li>
			<li><a href="#">Cookies</a></li>
			<li><a href="#">Terms and conditions</a></li>
			<li><a href="#">Privacy and data protection</a></li>
			<li><a href="#">Contact us</a></li>
		</ul>
		<ul class="social">
			<li>
			  <a href="https://www.facebook.com/essexcountycouncil"><span class="fab fa-facebook-f"></span><span>Facebook</span></a></li><li>
			  <a href="https://twitter.com/essex_cc"><span class="fab fa-twitter"></span><span>Twitter</span></a></li><li>
			  <a href="http://www.youtube.com/user/EssexCountyCouncil"><span class="fab fa-youtube"></span><span>Youtube</span></a></li><li>
		  </ul>
	</div>
</div>
</div>
	<div class="footer-bottom">
	  <div class="footer">
		<ul class="credits">
		  <li class="copyright">© Essex County Council 2020</li>
		  <li class="design-link"><a href="https://servicedesign.blog.essex.gov.uk/">Built by the Service Transformation Team</a></li>
		</ul>
	  </div>
	</div>
  </footer>