a.external-link,
a.external-file-link {
  @include small;
  display: inline-block;
  @media print {
    display: none;
  }
  cursor: pointer;
  text-decoration: underline;
  &:after {
    @include font-awesome;
    content: "\f35d";
    margin-left: 2px;
    display: inline-block;
    width: $icon-width - 2px;
  }
}

a.external-file-link {
  &:after {
    content: "\f15c";
    font-weight: 400;
  }
}