input {
  @include box-sizing(border-box);
  @include border-radius(0);
  font-family: $stack;
  font-size: ms(0);
  font-weight: $normal;
  text-transform: none;
  height: $form-height*0.75;
  padding: $baseline*0.25;
  border-width: $border-normal;
  border-style: solid;
  border-color: $grey-dark;
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: ms(0);
  color: $text-colour;
  opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: ms(0);
    color: $text-colour;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    font-size: ms(0);
    color: $text-colour;
  }
}