// Logo
// ==========================================================================

.logo-wrap {
  display: inline-block;
  margin-top: $baseline*0.5;
  margin-bottom: $baseline*0.5;
  @include media(mobile) {
    margin-top: $baseline*0.25;
    margin-bottom: $baseline*0.25;
  }
  @media print {
    color: $black;
    font-weight: 700;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  span {
    @include small;
    font-weight: $light;
    text-transform: capitalize;
    color: $black;
    margin-left: $gutter*0.125;
  }
}

a.logo-text {
  font-family: $stack-logo;
  font-size: ms(4);
  line-height: $form-height*0.75;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  text-indent: 0;
  &:hover {
    text-decoration: none;
    border-bottom: $border-normal $white solid;
  }
  &:focus {
    background-color: $brand;
    outline: $border-thick solid $focus-colour;
    border-bottom: $border-normal $white solid;
  }
}

a.logo-text.seax {
  float: left;
  background-position: 0 0;
  line-height: 1;
  background: url('/public/images/seax.png') no-repeat;
  background-size: $seax-width $seax-height;
  border-bottom: $border-normal $brand solid;
  margin-top: 4px;
  margin-bottom: -6px;
  padding-bottom: 6px;
  @media print {
    background-image: none;
    border-bottom: $border-normal $white solid;
  }
  &:hover {
    text-decoration: none;
    border-bottom: $border-normal $white solid;
  }
  &:focus {
    background-color: $brand;
    outline: $border-thick solid $focus-colour;
    border-bottom: $border-normal $white solid;
  }
  img {
    vertical-align: bottom;
    height: initial;
    display: inline-block;
    margin: 0;
    @media print {
      display: none;
    }
  }
}
