<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

   <body class="" id="design-system-docs">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    {%- include header.html -%}

    <main id="content" class="markdown">
      <div class="container">
        <div class="main only">
          <div class="content">
        {{ content }}
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}
   
  </body>

</html>
