.inset {
	background: $grey-lighter;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  border-left: $border-very-thick solid $grey-light;
  padding: $baseline $gutter*0.25;
  margin-bottom: $baseline;
  @include media(mobile) {
    padding: $baseline*0.5 $gutter*0.25;
  }
  .section-heading {
    margin-top: 0;
  }
  p:last-child {
  	margin-bottom: 0;
  }
}
