.table {
  overflow-x: auto;
  table {
    @media print {
      margin-top: $baseline;
      margin-bottom: $baseline;
    }
    margin-top: $baseline*0.5;
    margin-bottom: $baseline;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    @include media(mobile) {
      width: $tablet-breakpoint;
    }
    th,
    td {
      padding: $baseline $baseline $baseline 0;
      text-align: left;
      border-bottom: 1px solid $black;
    }

    thead th {
      font-weight: 700;
    }

    td:last-child,
    th:last-child {
      padding-right: 0;
    }

    // Right align table header cells and table cells with a numeric class
    .numeric {
      text-align: right;
    }

    // Allow a qualifying element, only table data cells should use tabular numbers
    // scss-lint:disable QualifyingElement
    td.numeric {
      font-family: $stack;
      //GDS uses tabular
    }

    caption {
      text-align: left;
      font-weight: 700;
    }
  }
}
